<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/nullStyle.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/form.css">
    <link rel="stylesheet" href="~/css/table.css">
    <title>@ViewData["Title"] - Trips</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="js/script.js"></script>
    <div class="container">
        <header>
            <div class="header__content">
                <div class="header__menu">
                    <a asp-controller="Home" asp-action="Index" class="header__menu__item">
                        <span>Trips</span>
                    </a>
                    <a asp-controller="Clients" asp-action="Index" class="header__menu__item">
                        <span>Clients</span>
                    </a>
                    <a asp-controller="TripClients" asp-action="Index" class="header__menu__item">
                        <span>TripClients</span>
                    </a>
                    <a asp-controller="TripPlaces" asp-action="Index" class="header__menu__item">
                        <span>TripPlaces</span>
                    </a>
                    <a asp-controller="Trips" asp-action="Index" class="header__menu__item">
                        <span>Trips</span>
                    </a>
                    <a asp-controller="TripTypes" asp-action="Index" class="header__menu__item">
                        <span>TripTypes</span>
                    </a>
                    <a asp-controller="WayOfTrips" asp-action="Index" class="header__menu__item">
                        <span>WayOfTrips</span>
                    </a>
                </div>
            </div>
        </header>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>