@{
    ViewData["Title"] = "Home Page";
}


<div class="details__content__title"><span>Requests</span></div>
<div>
    <a href="" class="table__button" style="margin-bottom: 20px;"><span>Request</span></a>
</div>
<div>
    <a href="" class="table__button" style="margin-bottom: 20px;"><span>Request</span></a>
</div>
<div>
    <a href="" class="table__button" style="margin-bottom: 20px;"><span>Request</span></a>
</div>
<div>
    <a href="" class="table__button" style="margin-bottom: 20px;"><span>Request</span></a>
</div>
<div>
    <a href="" class="table__button" style="margin-bottom: 20px;"><span>Report</span></a>
</div>
<div>
    <a href="" class="table__button" style="margin-bottom: 20px;"><span>Automation</span></a>
</div>