@model Trips.Models.TripClient

@{
    ViewData["Title"] = "Create";
}

<div class="form">
    <form asp-action="Create">
        <div class="form__content">
            <div class="form__title">
                <span>New TripClient</span>
            </div>
            <div class="form__items">
                <div class="form__items__item">
                    <span class="display">Start Date</span>
                    <input asp-for="StartDate">
                    <span class="validation" asp-validation-for="StartDate"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Client passport code</span>
                    <select asp-for="ClientId" asp-items="ViewBag.ClientId"></select>
                </div>
                <div class="form__items__item">
                    <span class="display">Trip name</span>
                    <select asp-for="TripId" class="form-control" asp-items="ViewBag.TripId"></select>
                </div>
                <div class="form__items__item">
                    <input type="submit" value="Create">
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
