@model Trips.Models.Client

@{
    ViewData["Title"] = "Edit";
}

<div class="form">
    <form asp-action="Edit">
        <div class="form__content">
            <div class="form__title">
                <span>Edit Client</span>
            </div>
            <div class="form__items">
                <input type="hidden" asp-for="ClientId" />
                <div class="form__items__item">
                    <span class="display">Name</span>
                    <input asp-for="Name">
                    <span class="validation" asp-validation-for="Name"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Surname</span>
                    <input asp-for="Surname">
                    <span class="validation" asp-validation-for="Surname"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Patronomic</span>
                    <input asp-for="Patronomic">
                    <span class="validation" asp-validation-for="Patronomic"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Passport code</span>
                    <input asp-for="PassportCode">
                    <span class="validation" asp-validation-for="PassportCode"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Gender</span>
                    <input asp-for="Gender">
                    <span class="validation" asp-validation-for="Gender"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Country</span>
                    <input asp-for="Country">
                    <span class="validation" asp-validation-for="Country"></span>
                </div>
                <div class="form__items__item">
                    <input type="submit" value="Save">
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
