@model Trips.Models.WayOfTrip

@{
    ViewData["Title"] = "Create";
}

<div class="form">
    <form asp-action="Create">
        <div class="form__content">
            <div class="form__title">
                <span>Create WayOfTrip</span>
            </div>
            <div class="form__items">
                <div class="form__items__item">
                    <span class="display">TransportType</span>
                    <input asp-for="TransportType">
                    <span class="validation" asp-validation-for="TransportType"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">TransportName</span>
                    <input asp-for="TransportName">
                    <span class="validation" asp-validation-for="TransportName"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">DriveTime</span>
                    <input asp-for="DriveTime">
                    <span class="validation" asp-validation-for="DriveTime"></span>
                </div>
                <div class="form__items__item">
                    <input type="submit" value="Create">
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
