@model Trips.Models.Trip

@{
    ViewData["Title"] = "Create";
}

<div class="form">
    <form asp-action="Create">
        <div class="form__content">
            <div class="form__title">
                <span>New Trip</span>
            </div>
            <div class="form__items">
                <div class="form__items__item">
                    <span class="display">Name</span>
                    <input asp-for="Name">
                    <span class="validation" asp-validation-for="Name"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Cost</span>
                    <input asp-for="Cost">
                    <span class="validation" asp-validation-for="Cost"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Description</span>
                    <input asp-for="Description">
                    <span class="validation" asp-validation-for="Description"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">DaysCount</span>
                    <input asp-for="DaysCount">
                    <span class="validation" asp-validation-for="DaysCount"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">LivingType</span>
                    <input asp-for="LivingType">
                    <span class="validation" asp-validation-for="LivingType"></span>
                </div>
                <div class="form__items__item">
                    <input type="checkbox" class="custom-checkbox" id="happy" asp-for="FoodAvailable">
                    <label for="happy">@Html.DisplayNameFor(model => model.FoodAvailable)</label>
                </div>
                <div class="form__items__item">
                    <span class="display">Trip type name</span>
                    <select asp-for="TripTypeId" class="form-control" asp-items="ViewBag.TripTypeId"></select>
                    <span class="validation" asp-validation-for="TripTypeId"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Trip way transport name</span>
                    <select asp-for="WayOfTripId" class="form-control" asp-items="ViewBag.WayOfTripId"></select>
                    <span class="validation" asp-validation-for="WayOfTripId"></span>
                </div>
                <div class="form__items__item">
                    <span class="display">Trip place locality</span>
                    <select asp-for="TripPlaceId" class="form-control" asp-items="ViewBag.TripPlaceId"></select>
                    <span class="validation" asp-validation-for="TripPlaceId"></span>
                </div>
                <div class="form__items__item">
                    <input type="submit" value="Create">
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
